**/.DS_Store


**.sln

**/.idea/**

Temp/**
.idea/**
Library/**/**
TextMesh\ Pro/

**/Temp/**/**

**/Unity/**.csproj
**/Unity/**/Build
**/Unity/**/Library
**/Unity/**/Logs
**/Unity/**/obj
**/Unity/**/Packages

**.csproj

